<div class="mat-elevate-z2" style="width: 20%; padding: 10px; margin: 30px auto; display: flex; justify-content: end; ">

  <form [formGroup]="formEstudiante">
    <div class="flex">
      <mat-form-field>
        <mat-label>Nombre Completo</mat-label>
        <input matInput formControlName="nombreCompleto">
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field>
        <mat-label>Fecha de Nacimiento</mat-label>
        <input type="date" matInput formControlName="fechaNacimiento">
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field>
        <mat-label>Genero</mat-label>
        <input matInput formControlName="genero">
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field>
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correoElectronico">
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field>
        <mat-label>Telefono</mat-label>
        <input matInput formControlName="telefono">
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field>
        <mat-label>Direccion</mat-label>
        <input matInput formControlName="direccion">
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field>
        <mat-label>Fecha de Ingreso</mat-label>
        <input type="date" matInput formControlName="fechaIngreso">
      </mat-form-field>
    </div>


    <div class="flex">
      <button mat-flat-button color="primary" (click)="Guardar()">Guardar</button>
      <button mat-flat-button color="warn" (click)="volver()" style="margin-left: 8px;">Volver</button>
    </div>

  </form>
</div>
